TKS/SoapAdapters/src/test/resources/wsdl/IUserAdapter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. -->
<definitions targetNamespace="http://adapters.soapadapters.tks.p.lodz.pl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://adapters.soapadapters.tks.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://adapters.soapadapters.tks.p.lodz.pl/" schemaLocation="IUserAdapter_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getName">
    <part name="parameters" element="tns:getName"/>
  </message>
  <message name="getNameResponse">
    <part name="parameters" element="tns:getNameResponse"/>
  </message>
  <message name="getUserByUsername">
    <part name="parameters" element="tns:getUserByUsername"/>
  </message>
  <message name="getUserByUsernameResponse">
    <part name="parameters" element="tns:getUserByUsernameResponse"/>
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser"/>
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse"/>
  </message>
  <message name="getUserById">
    <part name="parameters" element="tns:getUserById"/>
  </message>
  <message name="getUserByIdResponse">
    <part name="parameters" element="tns:getUserByIdResponse"/>
  </message>
  <message name="getUsers">
    <part name="parameters" element="tns:getUsers"/>
  </message>
  <message name="getUsersResponse">
    <part name="parameters" element="tns:getUsersResponse"/>
  </message>
  <message name="updateUserById">
    <part name="parameters" element="tns:updateUserById"/>
  </message>
  <message name="updateUserByIdResponse">
    <part name="parameters" element="tns:updateUserByIdResponse"/>
  </message>
  <portType name="IUserAdapter">
    <operation name="getName">
      <input ns1:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getNameRequest" message="tns:getName" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getNameResponse" message="tns:getNameResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUserByUsername">
      <input ns3:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByUsernameRequest" message="tns:getUserByUsername" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByUsernameResponse" message="tns:getUserByUsernameResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addUser">
      <input ns5:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/addUserRequest" message="tns:addUser" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/addUserResponse" message="tns:addUserResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUserById">
      <input ns7:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByIdRequest" message="tns:getUserById" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByIdResponse" message="tns:getUserByIdResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUsers">
      <input ns9:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUsersRequest" message="tns:getUsers" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUsersResponse" message="tns:getUsersResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateUserById">
      <input ns11:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/updateUserByIdRequest" message="tns:updateUserById" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/updateUserByIdResponse" message="tns:updateUserByIdResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

