TKS/SoapAdapters/src/test/java/pl/lodz/p/tks/soapadapters/client/UserAdapterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://adapters.soapadapters.tks.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://adapters.soapadapters.tks.p.lodz.pl/" name="UserAdapterService">
<types>
<xsd:schema>
<xsd:import namespace="http://adapters.soapadapters.tks.p.lodz.pl/" schemaLocation="http://desktop-sosn1q8:8080/Soap/UserAdapterService?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getUserByUsername">
<part name="parameters" element="tns:getUserByUsername"/>
</message>
<message name="getUserByUsernameResponse">
<part name="parameters" element="tns:getUserByUsernameResponse"/>
</message>
<message name="updateUserById">
<part name="parameters" element="tns:updateUserById"/>
</message>
<message name="updateUserByIdResponse">
<part name="parameters" element="tns:updateUserByIdResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<portType name="IUserAdapter">
<operation name="getName">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getUserByUsername">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByUsernameRequest" message="tns:getUserByUsername"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUserByUsernameResponse" message="tns:getUserByUsernameResponse"/>
</operation>
<operation name="updateUserById">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/updateUserByIdRequest" message="tns:updateUserById"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/updateUserByIdResponse" message="tns:updateUserByIdResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://adapters.soapadapters.tks.p.lodz.pl/IUserAdapter/addUserResponse" message="tns:addUserResponse"/>
</operation>
</portType>
<binding name="UserAdapterPortBinding" type="tns:IUserAdapter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserAdapterService">
<port name="UserAdapterPort" binding="tns:UserAdapterPortBinding">
<soap:address location="http://desktop-sosn1q8:8080/Soap/UserAdapterService"/>
</port>
</service>
</definitions>